body {
    background-color: #f5f5dc;
    font-family: 'Courier New', Courier, monospace;
}

.app-name {
    font-family: HelveticaNeue, Arial, sans-serif;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('fonts/HelveticaNeue_Bold.ttf') format('truetype');
}


.letter {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.letter h1, .letter p {
    text-align: justify;
}

